:root{
  --darck-bleu-color: #b0efff;
  --bleu-color: #c5f3ff;
  --darck-pink-color:#ff4881;
  --low-pink-color:#fee9f0;
  --bleu-text-color:#010f7a;
  --white-color:#FEF8F8;
}
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  }
  body{
    background-color:var(--white-color);
  }
/* nav-bar */

 
  nav{
    display: flex;
    justify-content: space-around;
    align-items:center;
    min-height: 8vh;
    border-width: 0.5px;
    margin-top: 10px;
    }

  .logo{
    color: var(--bleu-text-color);
    letter-spacing: 2px;
    font-size: 28px;
    margin: 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

  }

 
  .nav-links{
    display: flex;
    justify-content: space-around;
    font-size: 10px;
    margin-left: 30%;
  }
  .nav-links li{
    list-style: none;
    padding: 30px 15px;
   
  }
  .nav-links a{
    color: var(--bleu-text-color);
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    

  }

  .burger{
    display: none;
    cursor: pointer;
    margin-left: 30%;
    

  }
  .burger div{
    width: 26px;
    height: 4px;
    background-color:black;
    margin: 4px;


  }
  
  @media screen and (max-width:375px){
    .nav-links{
     
      
      width: 50%;
      
    }
  }
  @media screen and (max-width:768px){
    body{
      overflow: hidden;
    }
    .nav-links {
      position: absolute;
      right: 0px;
      height: 100%;
      top: 8vh;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      transform: translateX(100%);
      transition: transform 0.5 ease-in;
    }
    .nav-links li {
      opacity: 0;
    }
    .burger{
      display: block;
    }
  }
  .nav-active{
    transform:translateX(0%);
  }
  
  @keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(4.5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-6px, -15px);
} 


.first-party{
  background-color: var(--darck-bleu-color);
  margin: 2%;
  border-radius: 15px;
}
.card-one{
  display: flex;
  justify-content: center;
  align-items: center;
}
.first-img{
  width: 200%;
  padding-right: 100%;
}
.ytg{
  color: var(--darck-pink-color) ;
  font-size: 25px;
  margin: 30px ;
  padding-left: 8%;
}
.lmy{
  color: var(--bleu-text-color);
  font-size: 60px;
  margin: 30px ;
  padding-left: 8%;
}
.yut{
  color:var(--bleu-text-color) ;
  font-size: 20px;
  margin: 30px ;
  padding-left: 8%;
}
.button {
  text-decoration: none;
  padding: 10px 32px;
  font-size: 14px;
  border-radius: 5px;


}
.card-one-btn{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 30px ;
  padding-left: 8%;
}
.card-one-links{
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 30px ;
  padding-left: 8%;
}
.links{
  text-decoration: none;
}
.left{
  width: 50%;

}
.right{
  width: 50%;
}
.le{
  background-color: var(--darck-pink-color);
  color: var(--white-color);
  border: 1px ridge var(--darck-pink-color);
}
.pv{
  background-color:var(--darck-bleu-color) ;
  border: 1px ridge var(--bleu-text-color);

}
.transp{
  padding-bottom: 0;
  font-size: 150px;
  color: var(--darck-bleu-color);
  -webkit-text-stroke: 1px var(--bleu-text-color);
}
.second-party{
  background-color: #f7fcff ;
}
.performances{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: var(--bleu-text-color);
  width: 300px;
  padding-bottom: 20px;
  background-color: var(--white-color);
}
.performances-card{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}
.lwla{
  padding-top: 80px;
}
.taniya{
  background-color: var(--darck-pink-color);
  color: var(--white-color) !important;
  border-radius:15px ;
  
}
.talta{
  padding-top: 80px;
}
.title-one{
  font-size: 30px;
  color: var(--bleu-text-color);
}
.text-one{
  font-size: 20px;
  color: var(--bleu-text-color);
}
.second-card-head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.card-nm{
  color: var(--darck-pink-color);
  font-size: 25px;
}
.card-title{
  color: var(--bleu-text-color);
  font-size: 50px;
}
.terd-card{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}
.terd-card-image{
  width: 800px;
  height: auto;
  

}
.terd-card-avantages{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.terd-card-right{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7%;
  gap: 20px;
  
}
.terd-card-icones{
  width: 50%;
}
.card-four{
  background-color: var(--low-pink-color) !important;
  margin: 2%;
  border-radius: 15px;
}